body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#MyTitel{
    font-family: sans-serif;
    font-size: 4rem;
    text-align: center;
    float: right;
    margin-right: 35%;
}

.sidebar {
    width: 200px;
    background-color: #f6f6f6;
    border-right: 1px solid #dcdcdc;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar h3 {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar a {
    display: block;
    color: #0645ad;
    text-decoration: none;
    font-size: 14px;
    margin: 3px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.search-box input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#Origin{
    float: right;

}
